// General imports ------------------------------------------------------------
//

@import 'base/config_global';
@import 'base/config_site';
@import 'base/state';

// Normalize and document imports ---------------------------------------------

@import 'module/normalize';
@import 'module/doc';

// Module imports -------------------------------------------------------------

//@import 'module/font';
@import 'module/form';
@import 'module/button';

// Vendor imports -------------------------------------------------------------

@import 'vendor/bootstrap/bootstrap-grid';

// Styles ---------------------------------------------------------------------
body {
	background-color: $white;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
}

h1 {
	font-weight: normal;
	font-size: rem(30);

	@include media-max($bp-l) {
		font-size: rem(24);
	}

	@include media-max($bp-m) {
		font-size: rem(20);
	}
}

p {
	padding-bottom: rem(10);

	&:last-child:not(.code):not(.info):not(.info__content) {
		padding-bottom: 0;
	}

	& + .button,
	& + .code {
		margin-top: rem(10);
	}
}

a {
	color: $cape-cod;

	&:focus,
	&:hover {
		text-decoration: none;
	}
}

strong,
b {
	font-weight: 500;
}

small {
	display: block;
	font-size: rem(12);

	& + div:not(.field--textarea),
	& + p {
		margin-top: rem(20);
	}

	& + small:not(.charcounter) {
		margin-top: rem(10);
	}

	span {
		font-size: rem(12);
		display: inline-block;
		vertical-align: top;
		font-weight: normal;
	}
}

.charcounter span {
	color: shade($concrete, 30%);
}

// Reusable Classes -----------------------------------------------------------
.container-fluid {
	@extend %is-cf;
	max-width: $max-container-width;
	padding: 0 rem(32);
	margin: 0 auto;

	@include media-max($bp-s) {
		padding-left: rem(12);
		padding-right: rem(12);
	}
}

.clear {
	@extend %is-cf;
}

.asterisk {
	font-style: normal;
}

.text--intro {
	padding-bottom: rem(30);
}

// Header ---------------------------------------------------------------------
.header--main {
	margin-bottom: rem(30);

	.container-fluid {
		padding-left: rem(48);
		padding-right: rem(48);

		@include media-max($bp-l) {
			padding-left: rem(32);
			padding-right: rem(32);
		}

		@include media-max($bp-s) {
			padding-left: rem(12);
			padding-right: rem(12);
		}
	}

	h1 {
		margin-top: rem(-50);

		@include media-max($bp-xxl) {
			width: 85%;
		}

		@include media-max($bp-xl) {
			width: 70%;
		}

		@include media-max($bp-l) {
			width: 60%;
		}

		@include media-max($bp-m) {
			text-align: center;
			margin-top: 0;
			width: 100%;
			padding-top: rem(20);
		}
	}
}

	.header--main__background {
		min-height: rem(150);
		padding-top: rem(20);
		background-repeat: no-repeat;
		background-position: right top;

		@include media-max($bp-m) {
			min-height: 0;
			padding: 6% 0;
			background-size: auto 100%;
		}

		@include media-max($bp-xs) {
			padding: rem(20) 0;
			background-size: cover;
			background-position: left rem(40) center;
			
		}
	}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	width: rem(100);
	height: rem(55);
}

// Main -----------------------------------------------------------------------
.box {
	background-color: $black-haze;
	border: 1px solid $concrete;
	border-radius: rem(10);
	padding: rem(40) rem(33);

	@include media-max($bp-m) {
		padding: rem(32) rem(9);
	}

	@include media-max($bp-s) {
		padding: rem(32) rem(5);
	}
}

.submit-wrapper:not(:last-child) {
	margin-bottom: rem(20);
}

// Footer ---------------------------------------------------------------------
.footer--main {
	padding: rem(30) 0;
	font-size: rem(14);
}

// Modifiers ------------------------------------------------------------------
.bg--black-haze {
	background-color: $black-haze;
}

.c--bombay {
	color: $bombay;
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.is-hidden {
	display: none;
}

.is-submitting {
	&:after {
		animation-name: loading;
		animation-duration: .75s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
	}
}

.h-100 {
	min-height: 100%;
}

@keyframes loading {
	0% { transform:translateX(-100%) }
	100% { transform:translateX(100%) }
}

// Flex Classes ---------------------------------------------------------------
.flex-row,
.flex-sm-row,
.flex-md-row,
.flex-lg-row,
.flex-xl-row {
	& > .radiobutton-wrapper:not(:last-child),
	& > .checkbox-wrapper:not(:last-child) {
		margin-right: rem(40);
	}
}

.flex-column,
.flex-sm-column,
.flex-md-column,
.flex-lg-column,
.flex-xl-column {
	& > .radiobutton-wrapper:not(:last-child),
	& > .checkbox-wrapper:not(:last-child) {
		margin-bottom: rem(12);
	}
}

// Print ----------------------------------------------------------------------
//
// Inline to avoid the request

@import 'module/print';