// Accent colors --------------------------------------------------------------
$baked: #83BBD2;
$malibu: #66afe9;
$deep-carmine-pink: #ef2637;
$green-smoke: #A1B76A;
$rajah: #ffbe76;

// Greys ----------------------------------------------------------------------

$white: #FFF;
$black-haze: #F7F7F7;
$concrete: #D0D1D1;
$bombay: #ADAFB0;
$cape-cod: #515151;
$black: #000;


// Reporting ------------------------------------------------------------------
//
// Using in the Reporting module (module/_reporting.scss)

$reporting-text: #333333;
$reporting-success: #A2D69A;
$reporting-success-light: #DEF1DD;
$reporting-error: #F39B88;
$reporting-error-light: #FADCD7;
$reporting-warning: #F7E287;
$reporting-warning-light: #FCF5D6;
$reporting-info: #90B1D2;
$reporting-info-light: #DAE5F0;

// Font-stack -----------------------------------------------------------------
//

$font-stack: 'Ubuntu', Helvetica, sans-serif;