// Library imports ------------------------------------------------------------
//
// Links to common libraries are included below. Place the files at the root 
// of the sass folder

//@import '../libs/...';

// Global vars ----------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 	1.5;
$total-columns: 12;
$default-gutter-width: 5% !default;
$default-column-breakpoint: 650;
$max-container-width: 1039px; 

$bp-xs: 480px;
$bp-s: 575px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
$bp-xxl: 1500px;

// Imports --------------------------------------------------------------------

@import '../mixin/all';
@import 'functions';
