//  Button Module -------------------------------------------------------------
//

.button {
	display: inline-block;
	vertical-align: top;
	border: none; 
	background: none;
	outline: none;
	border-radius: rem(4);
	font-family: $font-stack;
	text-decoration: none;
	line-height: 1;
	padding: rem(15) rem(60);
	@extend %is-antialiased;
	transition: background-color 0.15s ease-out;
	position: relative;
	font-weight: 500;

	@include media-max($bp-xs) {
		padding: rem(15) rem(20);
	}
	
	& + p {
		margin-top: rem(20);
	}

	&.svg-wrapper {
		padding-right: rem(84);

		@include media-max($bp-xs) {
			padding-right: rem(44);
		}

		&.is-submitting {
			padding-right: rem(60);

			@include media-max($bp-xs) {
				padding-right: rem(20);
			}
		}
	}

	.svg--arrow-right {
		fill: $white;
		display: inline-block;
		vertical-align: top;
		width: rem(24);
		height: rem(24);
		position: absolute;
		top: 50%;
		right: rem(52);
		z-index: 1;
		transform: translateY(-50%);

		@include media-max($bp-xs) {
			right: rem(16);
		}
	}
}

// Modifiers ------------------------------------------------------------------
//

.button--baked {
	background-color: $baked;
	color: $white;

	&:focus,
	&:hover {
		background-color: tint($baked, 20%);
	}

	&:active {
		background-color: shade($baked, 10%);
	}
}

.button--carmine {
	background-color: $deep-carmine-pink;
	color: $white;

	&:focus,
	&:hover {
		background-color: tint($deep-carmine-pink, 30%);
	}

	&:active {
		background-color: shade($deep-carmine-pink, 10%);
	}
}