// Form Module ----------------------------------------------------------------
//
label {
	display: block;
	margin-bottom: rem(20);
	position: relative;

	span {
		display: block;
		font-size: rem(16);
		font-weight: 500;
	}

	small {
		color: shade($concrete, 30%);

		& + div:not(.field--textarea) {
			margin-top: 0;
		}
	}
}

	.info {
		position: absolute;
		z-index: 10;
		top: 110%;
		left: 0;
		font-size: rem(12);
		background-color: $baked;
		color: $white;
		width: 100%;
		padding: rem(8) rem(12);
		border-radius: rem(5);
		display: none;

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $baked;
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		a {
			color: $white;
			font-weight: 500;
		}
	}

	.info--warning,
	.info--warning-loading {
		display: block;
		position: relative;
		top: rem(5);
		background-color: $rajah;

		&:before {
			border-bottom-color: $rajah;
		}
	}

	.info--warning-loading {
		top: 0;
		padding: rem(5) 0 0 0;
		background-color: transparent;
		overflow: hidden;

		&:before {
			margin-bottom: rem(-5);
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: shade($rajah, 10%);
			transform:translateX(-100%);
		}

		p {
			padding: rem(8) rem(12);
			background-color: $rajah;
			border-radius: rem(5);
		}
	}

.label {
	font-weight: 500;

	&.is-warning,
	&.is-warning + * {
		color: $rajah;
	}
}

input,
textarea {
	width: 100%;
	background-color: $white;
	border: 1px solid $concrete;
	border-radius: rem(5);
	display: block;
	padding: rem(13) rem(40) rem(13) rem(16);
	margin-top: rem(5);
	transition: border-color 0.15s ease-out;
	outline: none;
	color: $cape-cod;
	font-weight: normal;
	box-shadow: none;

	&:focus {
		border-color: $malibu;
	}

	&:hover + .info:not(.is-hidden),
	&:focus + .info:not(.is-hidden) {
		display: block;
	}
}

textarea {
	min-height: rem(150);
	max-width: 100%;
	min-width: 100%;
}

input[type=number] {
	-moz-appearance: textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button  {
		-webkit-appearance: none;
		margin: 0;

	}
}

button[type=submit] {
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		transform:translateX(-100%);
	}

	&.button--baked:after {
		background-color: shade($baked, 20%);
	}

	&.button--carmine:after {
		background-color: shade($deep-carmine-pink, 20%);
	}
}

.checkbox-wrapper,
.radiobutton-wrapper {
	position: relative;
	overflow: hidden;

	input[type=radio],
	input[type=checkbox] {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -99;
		opacity: 0;
		margin: 0;
		padding: 0;
		line-height: 0;
		font-size: 1px;
		transform: translateY(-50%);

		&:checked + span:after {
			transform: scale(0.6);
		}

		&:checked + span:before,
		&:focus + span:before {
			border-color: $malibu;
		}
	}

	span {
		position: relative;
		padding-left: rem(36);
		font-weight: normal;

		&:before,
		&:after {
			content: '';
			width: rem(24);
			height: rem(24);
			display: inline-block;
			vertical-align: top;
			position: absolute;
			left: 0;
			top: 0;
			cursor: pointer;
		}

		&:before {
			border: 1px solid $concrete;
			background-color: $white;
			z-index: 1;
			transition: border-color 0.15s ease-out;
		}

		&:after {
			background-color: $baked;
			z-index: 2;
			transform: scale(0);
			transition: transform 0.1s ease-out;
			border: none;
		}
	}
}

.checkbox-wrapper span:after {
	background: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7B2079c00d-46fd-4717-b86e-2339464b93f4%7D_icon--check2.png) center center no-repeat;
	background-size: rem(24) rem(24);

	@include highres() {
		background-image: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7Bc681da3e-4482-45f6-81e8-cb50b326c110%7D_icon--check2%402x.png);
	}
}

.radiobutton-wrapper {
	span {
		&:before,
		&:after {
			border-radius: 50%;
		}
	}
}

.label--select {
	position: relative;

	&.is-focused {
		input[type=text] {
			border-radius: rem(5) rem(5) 0 0;

			& + .label--select__list {
				display: block;
			}
		}

		.svg--arrow-right {
			transform: rotate(180deg);
		}
	}

	input[type=text] {
		cursor: pointer;
		padding-right: rem(40);
		overflow: hidden;
		text-align: left;
		caret-color: transparent;

		&:focus {
			border-radius: rem(5) rem(5) 0 0;

			& + .label--select__list {
				display: block;
			}

			& ~ .svg--arrow-right {
				transform: rotate(180deg);
			}
		}
	}

	.svg--arrow-right {
		transform: rotate(0deg);
		width: rem(24);
		height: rem(24);
		position: absolute;
		bottom: rem(11);
		right: rem(12);
		z-index: 2;
		display: block;
		cursor: pointer;
	}
}

	.label--select__list {
		list-style: none;
		background-color: $white;
		border-bottom: 1px solid $baked;
		border-right: 1px solid $baked;
		border-left: 1px solid $baked;
		border-radius: 0 0 rem(5) rem(5);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 99;
		display: none;
		font-size: rem(14);

		li {
			padding: rem(6) rem(16);
			cursor: pointer;

			&:hover,
			&.is-active {
				background-color: tint($baked, 80%);
			}
		}
	}

.icon--validation {
	width: rem(24);
	height: rem(24);
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: rem(10);
	bottom: rem(11);
	z-index: -1;
}

.is-valid {
	.icon--validation {
		background: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7Bbcfca511-b415-4b60-b470-5f3d9f733702%7D_icon--check.png) right center no-repeat;
		background-size: rem(24) rem(24);
		z-index: 1;

		@include highres() {
			background-image: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7B1fb538c2-7c8c-4fe5-8e74-198e4811779f%7D_icon--check%402x.png);
		}
	}
}

.is-active-validation {
	.is-valid {
		span {
			color: $green-smoke;
		}

		.field--telephone__plus {
			color: $cape-cod;
		}

		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=number],
		textarea {
			border-color: $green-smoke;
			background-size: rem(24) rem(24);
		}
	}

	.is-invalid {
		span {
			color: $deep-carmine-pink;
		}

		.field--telephone__plus {
			color: $cape-cod;
		}
	
		input,
		textarea,
		.label--select__list,
		.is-focused input,
		&.is-focused input,
		.field--telephone__code:focus + input {
			border-color: $deep-carmine-pink;
		}
	
		input[type=checkbox]:focus + span:before,
		input[type=checkbox] + span:before {
			border-color: $deep-carmine-pink;
		}
	}

	.is-warning {
		span {
			color: $rajah;
		}

		.field--telephone__plus {
			color: $cape-cod;
		}
	
		input[type=text],
		input[type=number],
		input[type=email] {
			border-color: $rajah;
		}
	}

	.label {
		&.is-invalid,
		&.is-invalid + * {
			color: $deep-carmine-pink;

			input[type=checkbox]:focus + span:before,
			input[type=checkbox] + span:before {
				border-color: $deep-carmine-pink;
			}
		}

		&.is-valid,
		&.is-valid + * {
			color: $green-smoke;
		}

		&.is-warning,
		&.is-warning + * {
			color: $rajah;
		}
	}
}

.is-invalid {
	.icon--validation {
		background: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7B469d6fc8-1fb4-4b59-9fc6-80867a4d9155%7D_icon--error.png) right center no-repeat;
		background-size: rem(24) rem(24);
		z-index: 1;

		@include highres() {
			background-image: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7B2920aa0d-5fc1-431d-a7f1-329d0f4b09e1%7D_icon--error%402x.png);
		}
	}
}

.is-focused {
	input {
		border-color: $baked;
	}
}

.is-warning {
	span {
		color: $rajah;
	}

	input[type=text],
	input[type=number],
	input[type=email] {
		border-color: $rajah;
	}

	.icon--validation {
		background: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7B53661814-d5c2-4e8a-b179-9c63fe35210b%7D_icon--warning.png) right center no-repeat;
		background-size: rem(24) rem(24);
		z-index: 1;

		@include highres() {
			background-image: url(http://images.campaign.bpost.be/EloquaImages/clients/bpost/%7Bb380965b-21d6-49a7-9be5-db54f801b111%7D_icon--warning%402x.png);
		}
	}
}

::placeholder {
	color: $concrete;
}

::-moz-placeholder {
	color: $concrete;
}

::-webkit-placeholder {
	color: $concrete;
}

.-placeholder {
	color: $concrete;
}

.field-hidden {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	padding: 0;
	line-height: 1px;
	font-size: 1px;
	opacity: 0;
	z-index: -1;
	margin: 0;
}

// Specific Fields ------------------------------------------------

.field--telephone,
.field--kbo {
	position: relative;

	input {
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}

		&:not(:first-of-type) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		& + span.icon--validation {
			bottom: auto;
			top: rem(16);
		}
	}
}

	.field--telephone__code,
	.field--kbo__code {
		width: 74px;
		font-style: italic;
		padding-right: rem(16);

		&:focus + input {
			border-left-color: $baked;
		}

		& + input {
			width: calc(100% - 74px);
		}
	}

	.field--telephone__code {
		padding-left: rem(26);

		&:focus + input {
			border-color: $baked;
		}
	}

	.field--telephone__plus {
		position: absolute;
		z-index: 1;
		top: rem(16);
		left: rem(17);
	}

.field {
	position: relative;

	textarea + .icon--validation,
	input + .icon--validation {
		bottom: auto;
		top: rem(11);
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px $white inset;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}