{{> layout-header}}

<div class="d-flex flex-column h-100">

  <!-- HEADER -->
  <header class="header--main">

    <!-- Your header image goes here -->
    <!-- To change this image, replace the background-image url. -->
    <div class="header--main__background" style="background-image: url(http://images.ops.mailbpost.be/EloquaImages/clients/bpostOps/%7B6fa0e063-da7f-4925-8140-e7d291aa55a1%7D_header.jpg);">
      <div class="container-fluid">

        <!-- Your header logo goes here -->
        <a class="logo" href="http://www.bpost.be/nl/home" target="_blank">
          <img src="https://bpostsme.be/images/bpost-logo.svg" alt="Logo bpost">
        </a>
      </div>
    </div>

    <!-- Your header title goes here -->
    <div class="container-fluid">
      <h1>Net afgestudeerd of op zoek naar een nieuwe job? </h1>
    </div>
  </header>
  <!-- /HEADER -->
  
  <main class="flex-grow-1">
    <div class="container-fluid">
      <div class="box">
        
        <!-- Intro Text -->
        <p class="c--bombay tac text--intro col-12">Ontdek al onze jobs tijdens een van onze jobdagen in Beveren, Sint-Niklaas en Lokeren.</p>
        <!-- /Intro Text -->

        <!-- FORM -->
        <form method="post" name="TESTHRJobdagenSubscriptions" action="https://s918797598.t.eloqua.com/e/f2" onsubmit="return handleFormSubmit(this)" id="form30" class="elq-form" >
          <input value="TESTHRJobdagenSubscriptions" type="hidden" name="elqFormName"  />
          <input value="918797598" type="hidden" name="elqSiteId"  />
          <input name="elqCampaignId" type="hidden"  />
          

          <input type="hidden" name="language" value="NLD" id="language" autocomplete="off">
          <input type="hidden" name="locationWithoutDate" id="locationWithoutDate">
          <input type="hidden" name="date" id="date">
          <input type="hidden" name="place" id="place">
          <input type="hidden" name="field-optin" id="field-optin" value="1">

          <div class="col-12">
            <label class="label--select">
              <span>Kies een locatie <i class="asterisk">*</i></span>
              <input id="locationView" type="text" placeholder="Maak uw keuze" readonly="" required="" autocomplete="off">
              <ul id="locationViewUl" class="label--select__list">
                <li data-value="Gent Noord, 2019/03/01" data-bind="address-Gent-Noord-2019-03-01" data-bind-required="true">Gent Noord, 1 maart 2019</li>
                <li data-value="Beveren, 2019/03/01" data-bind="address-Sint-Niklaas--2019-03-01" data-bind-required="true">Beveren, 1 maart 2019</li>
                <li data-value="Gent Centrum, 2019/03/08" data-bind="address-Gent-Centrum--2019-03-08" data-bind-required="true">Gent Centrum, 8 maart 2019</li>
                <li data-value="Sint-Niklaas, 2019/03/15" data-bind="address-Sint-Niklaas-2019-03-15" data-bind-required="true">Sint-Niklaas, 15 maart 2019</li>
                <li data-value="Lokeren, 2019/03/22" data-bind="address-Sint-Niklaas-2019-03-22" data-bind-required="true">Lokeren, 22 maart 2019</li>
              </ul>
              <input id="location" type="text" class="field-hidden" required="">
              <img class="svg svg--arrow-right" src="https://img06.en25.com/EloquaImages/clients/bpost/%7Bc38b68ba-35f4-4977-b3a8-8151c1886694%7D_icon--arrow-down.png" srcset="https://img06.en25.com/EloquaImages/clients/bpost/%7Bc38b68ba-35f4-4977-b3a8-8151c1886694%7D_icon--arrow-down.png, https://img06.en25.com/EloquaImages/clients/bpost/%7B9f855bc4-6973-4ee7-9dca-8902d4bd8343%7D_icon--arrow-down%402x.png 2x" alt="">
            </label>
          </div>
          <div class="col-12 is-hidden js-jobs-container" id="address-Gent-Noord-2019-03-01">
            <p><em><strong>Adres:</strong> Eeklo Mail, Priorijstraat 7 te Waarschoot</em></p>
            <p class="label">Tijdstip <i class="asterisk">*</i></p>
            <div class="d-flex flex-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="10u" required="">
                <span>10 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="14u" required="">
                <span>14 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="17u" required="">
                <span>17 uur</span>
              </label>
            </div>
          </div>

          <div class="col-12 is-hidden js-jobs-container" id="address-Sint-Niklaas--2019-03-01">
            <p><em><strong>Adres:</strong> Beveren Mail, Stationsplein 5</em></p>
            <p class="label">Tijdstip <i class="asterisk">*</i></p>
            <div class="d-flex flex-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="10u" required="">
                <span>10 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="14u" required="">
                <span>14 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="17u" required="">
                <span>17 uur</span>
              </label>
            </div>
          </div>

          <div class="col-12 is-hidden js-jobs-container" id="address-Gent-Centrum--2019-03-08">
            <p><em><strong>Adres:</strong> Gent Mail, Stapelplein 75</em></p>
            <p class="label">Tijdstip <i class="asterisk">*</i></p>
            <div class="d-flex flex-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="10u" required="">
                <span>10 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="14u" required="">
                <span>14 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="17u" required="">
                <span>17 uur</span>
              </label>
            </div>
          </div>
          <div class="col-12 is-hidden js-jobs-container" id="address-Sint-Niklaas-2019-03-15">
            <p><em><strong>Adres:</strong> St-Niklaas Mail, Europark-Noord 31C</em></p>
            <p class="label">Tijdstip <i class="asterisk">*</i></p>
            <div class="d-flex flex-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="11u" required="">
                <span>11 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="14u" required="">
                <span>14 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="17u" required="">
                <span>17 uur</span>
              </label>
            </div>
          </div>
          <div class="col-12 is-hidden js-jobs-container" id="address-Sint-Niklaas-2019-03-22">

            <p><em><strong>Adres:</strong> Lokeren mail, Gentse Steenweg 115-117</em></p>
            <p class="label">Tijdstip <i class="asterisk">*</i></p>
            <div class="d-flex flex-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="12u" required="">
                <span>12 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="14u" required="">
                <span>14 uur</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="time" value="17u" required="">
                <span>17 uur</span>
              </label>
            </div>
          </div>
          
          <div class="col-12">
            <h3 class="title">Jouw gegevens</h3>
          </div>
           
          

          <!--
            FIELD: FIRST NAME
          -->
          <div class="col-12 col-sm-6">
            <label>
              <span>Voornaam <i class="asterisk">*</i></span>
              <div class="field">
                <input type="text" name="firstName" maxlength="32" autocomplete="given-name" required>
                <span class="icon--validation"></span>
              </div>
            </label>
          </div>
          <!--
            /FIELD: FIRST NAME
          -->

          <!--
            FIELD: LAST NAME
          -->
          <div class="col-12 col-sm-6">
            <label>
              <span>Naam <i class="asterisk">*</i></span>
              <div class="field">
                <input type="text" name="lastName" maxlength="32" autocomplete="family-name" required>
                <span class="icon--validation"></span>
              </div>
            </label>
          </div>
          <!--
            /FIELD: LAST NAME
          -->

          <!--
            FIELD: TELEPHONE NUMBER
          -->
          <div class="col-12 col-sm-6">
            <div class="label">
              <label for="field-tel" class="mb-0">
                <span>Telefoonnummer <i class="asterisk">*</i></span>
              </label>
              <div class="d-flex flex-row field field--telephone">
                <i class="field--telephone__plus">+</i>
                <input type="number" name="field-tel-countrycode" value="32" maxlength="3" autocomplete="tel-country-code" class="field--telephone__code" required>
                <input type="tel" name="field-tel-number" id="field-tel" placeholder="475184967" maxlength="9" autocomplete="tel-national" required>
                <span class="icon--validation"></span>
                <input type="hidden" name="mobilePhone">
              </div>
            </div>
          </div>
          <!--
            /FIELD: TELEPHONE NUMBER
          -->

          <!--
            FIELD: EMAIL ADDRESS
          -->
          <div class="col-12 col-sm-6">
            <label>
              <span>E-mailadres <i class="asterisk">*</i></span>
              <div class="field">
                <input type="email" name="emailAddress" maxlength="100" autocomplete="email" required>
                <span class="icon--validation"></span>
              </div>
              <p class="info info--warning is-hidden">Bedoelde u <a href="#"></a>?</p>
            </label>
          </div>
          <!--
            /FIELD: EMAIL ADDRESS
          -->

          <div class="col-12">
            <p class="label">Ben je momenteel al werkzaam? <i class="asterisk">*</i></p>
            <div class="d-flex flex-column flex-lg-row flex-wrap">
              <label class="radiobutton-wrapper">
                <input type="radio" name="currentlyWorking" value="Ja" class="js-working" required>
                <span>Ja</span>
              </label>
              <label class="radiobutton-wrapper">
                <input type="radio" name="currentlyWorking" value="Nee" class="js-working" required>
                <span>Nee</span>
              </label>
            </div>
          </div>
          <div class="col-12 is-hidden" id="function">
            <label>
              <span>Wat is jouw huidige functie? <i class="asterisk">*</i></span>
              <input type="text" name="function" maxlength="150" disabled="">
              <span class="icon--validation"></span>
            </label>
          </div>

          
          <div class="col-12 col-sm-6" style="display:none;">
            <label>
              
              <input id="sendReminder" type="text" name="sendReminder">
             
            </label>
          </div>

          <small style="padding-top: 20px; font-size: .875rem;" id="optinAanvaarding" class="col-12">Ik aanvaard dat bpost en andere publieke organisaties, al dan niet van commerciële aard (na verzending, eventueel via gegevensleveranciers), de gegevens die ik communiceer gebruiken om mij te informeren over acties die overeenstemmen met mijn profiel en interesses. Meer informatie? Lees ons <a href="http://www.bpost.be/site/nl/privacy?elqTrackId=e32720eae12b4ac0bca56e178dedb2d0" target="_blank">privacybeleid</a>.</small>

          <small style="padding-top: 20px; font-size: .875rem;" class="col-12"><i class="asterisk">*</i> Verplicht veld</small>

          <div class="col-12 tac submit-wrapper">
            <button type="submit" class="button button--baked tal svg-wrapper" id="btnSubmit">Bevestigen <svg class="svg svg--arrow-right" role="presentation" aria-hidden="true"><use xlink:href="#svg--arrow-right"></use></svg></button>
          </div>
          
          <small class="col-12" style="padding-top: 20px; font-size: .875rem;">
            Wil je je alleen voor de jobdag inschrijven?   <a style="cursor: pointer;" class="button--nostyle" id="btnSubmit2">Klik hier</a> om je formulier te verzenden.
          </small>

        </form>
        <!-- /FORM -->

      </div>
    </div>
  </main>
  
  <!-- FOOTER -->
  <!-- Copyright information goes here. -->
  <footer class="footer--main">
    <div class="container-fluid tac">
        <p>© 2019 bpost all rights reserved | <a href="http://www.bpost.be/site/nl/privacy" target="_blank">Privacy</a> | <a href="http://www.bpost.be/nl/terms-and-conditions" target="_blank">Algemene voorwaarden</a> | <a href="http://www.bpost.be/site/nl/cookies-beleid" target="_blank">Cookies policy</a></p>
    </div>
  </footer>
  <!-- /FOOTER -->

</div>
<script>
  $(function () {    
    var $target = $('#function');
    $('.js-working').change(function() {
      if (this.value === 'Ja') {
        $target.removeClass('is-hidden');
        $target.find('input').removeAttr('disabled');
      } else {
        $target.addClass('is-hidden');
        $target.find('input').attr('disabled', 'true');
      }
    });

    var location                            = document.getElementById('location'                          );
    var locationValue                       = document.getElementById('location').value                   ;
    var locationWithoutDate                 = document.getElementById('locationWithoutDate'               );

    var locationView                        = document.getElementById('locationView'                      );

    var date                                = document.getElementById('date'                              );

    var place                               = document.getElementById('place'                             );
    var addressText                         = document.getElementById('addressText'                       );

    var addressGentNoord20190301            = document.getElementById('address-Gent-Noord-2019-03-01'     );
    var addressSintNiklaas20190301          = document.getElementById('address-Sint-Niklaas--2019-03-01'  );
    var addressGentCentrum20190308          = document.getElementById('address-Gent-Centrum--2019-03-08'  );
    var addressSintNiklaas20190315          = document.getElementById('address-Sint-Niklaas-2019-03-15'   );
    var addressSintNiklaas20190322          = document.getElementById('address-Sint-Niklaas-2019-03-22'   );
    console.log(date.value);
    function checkLocation(){
      if(location.value != ''){
        var locationString = String(location.value);
        console.log(locationString);
        var lastIndex = locationString.lastIndexOf(",");

        var splitFirst = locationString.substring(0, lastIndex);
        var splitSecond = locationString.substring(lastIndex + 1);

        date.value = splitSecond;
        locationWithoutDate.value = splitFirst;

        if(addressGentNoord20190301 && !addressGentNoord20190301.classList.contains('is-hidden')){
          place.value     = 'Eeklo Mail, Priorijstraat 7 te Waarschoot';
        } else if(addressSintNiklaas20190301 && !addressSintNiklaas20190301.classList.contains('is-hidden')){
            place.value   = 'Beveren Mail, Stationsplein 5';
        } else if(addressGentCentrum20190308 && !addressGentCentrum20190308.classList.contains('is-hidden')){
            place.value   = 'Gent Mail, Stapelplein 75';
        } else if(addressSintNiklaas20190315 && !addressSintNiklaas20190315.classList.contains('is-hidden')){
            place.value   = 'St-Niklaas Mail, Europark-Noord 31C';
        } else if(addressSintNiklaas20190322 && !addressSintNiklaas20190322.classList.contains('is-hidden')){
            place.value   = 'Lokeren mail, Gentse Steenweg 115-117';
        }

      } else{
        date.value = '';
        locationWithoutDate.value = '';
        place.value = '';
      }
    }

    locationView.addEventListener('click', checkLocation);
    locationView.addEventListener('change', checkLocation);
    locationView.addEventListener('blur', checkLocation);
    

    locationView.addEventListener('click', compareDate);
    locationView.addEventListener('change', compareDate);
    locationView.addEventListener('blur', compareDate);
    //compares getDateSelected() vs getCurrentdate()
    function compareDate(){
        console.log('test');
      // remove previous selection
      $('.js-jobs-container, .js-jobs-container *').removeClass('is-dirty is-invalid is-valid');
      $('.js-jobs-container input').prop('checked', false);
      var dateSelected = getDateSelected();
      var currentDate = getCurrentdate();
      
      if(dateSelected <= currentDate){
        $('#sendReminder').val( 0 );
        console.log( 'selected: ' + dateObject);
      }
      else if(dateSelected > currentDate){
        $('#sendReminder').val( 1 );
      }
    }
  //   $('#locationView').on('change',function(){
  //   console.log('test');
  //    // remove previous selection
  //   $('.js-jobs-container, .js-jobs-container *').removeClass('is-dirty is-invalid is-valid');
  //   $('.js-jobs-container input').prop('checked', false);
	// 	var dateSelected = getDateSelected();
	// 	var currentDate = getCurrentdate();
		
	// 	if(dateSelected <= currentDate){
	// 		$('#sendReminder').val( 0 );
  //     console.log( 'selected: ' + dateObject);
	// 	}
	// 	else if(dateSelected > currentDate){
	// 		$('#sendReminder').val( 1 );
	// 	}
	// });

	// gets selected date and returns as a Date object
	function getDateSelected(){
		var selectedDate = $('#date').val();
		var res = selectedDate.split("/");
		var dateObject = new Date(res[0], res[1] -1, res[2]);
    console.log( 'selected: ' + dateObject);
		return dateObject; 
	}

	// Return the current date in a YYYY/MM/DD format

	function getCurrentdate(){
		var x = new Date();
		var y = x.getFullYear();
		var m = x.getMonth();
		var d = x.getDate()+ 4;

		(d.length == 1) && (d = '0' + d);
		(m.length == 1) && (m = '0' + m);

		var currentDate = new Date(y, m, d);
    console.log( 'current + 4 : ' + currentDate);
		return currentDate;
	}
  });  
  $('#btnSubmit2').on('click', function(event){
			event.preventDefault();
			$('#optinAanvaarding').css('display','none');
	});
</script>

{{> layout-footer}}